doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Super Bank
    link(rel='stylesheet', href='css/app.css')
  body
    h1 Super Bank
    #container
      #bal $1000
      form(name="Balance")
      input#amount(type="text", name="amount")
      button.btn#deposit Deposit
      button.btn#withdrawl Withdrawl
      table
        thead
          tr
            td.Fee Fee
            td.Deposit Deposit
            td.Withdrawl Withdrawl
            td.Balance Balance
        tbody#table
          tr
            td.Fee
            td.Deposit
            td.Withdrawl
            td.Balance $1000

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
